body {
    background-color: black;
}

nav {
    background-color:black;
    color: red;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.navigation {
    align-items: right;
    background-color: #D3D3D3;
    border: 3px;
    border-style: solid;
    border-top: #B1A7A6;
    border-bottom: #B1A7A6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    font-size: small;
}

button:hover {
    color: #660708;
}

h1 {
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-evenly;
    color: #BA181B;
}


img {
    width: 50%;
    height: 90%;
    
}

img:hover {
    height: 100%;
    width: 60%;
}

.blueLogo {
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-evenly;
    color: blue;
}
