body {
    background-color: black;
}

nav {
    background-color:black;
    color: red;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

button {
    align-items: right;
    background-color: #D3D3D3;
    border: 3px;
    border-color: #B1A7A6;
    border-style: solid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    color: #660708;
}

h1 {
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-evenly;
    color: #BA181B;
}

#carousel {
    height: 60%;
    padding: 5%;
    background-color: #B1A7A6;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    overflow-x: auto;
}

img {
    width: 50%;
    height: 90%;
}

img:hover {
    height: 100%;
    width: 25%;
}